.background {
    -fx-background-color: #660000;
}

.pane {
    //-fx-background-color: #330000 #0d0d0d;
    -fx-background-color: #1a0000;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width:1;
    -fx-border-color: #1a0000;
}

.exceptionPane {
    -fx-background-color: #1a0000;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width:0;
}

.scroll-pane {
    -fx-background-color: #1a0000;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #660000;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #1a0000;
}

.label {
    -fx-font-size: 15pt;
    -fx-font-family: "Century Gothic";
    //-fx-text-fill: #b06d6d;
    -fx-text-fill: #d9d9d9;
    -fx-text-align: center;
}

.details {
    -fx-font-size: 8pt;
    -fx-font-family: "Century Gothic";
    //-fx-text-fill: #b06d6d;
    -fx-text-fill: #d9d9d9;
    -fx-text-align: center;
}

.button {
  -fx-display: inline-block;
  -fx-border-radius: 4px;
  -fx-background-color: #660000;
  //-fx-border: none;
  -fx-border: 1px;
  -fx-border-color: white;
  -fx-color: #FFFFFF;
  -fx-text-align: center;
  -fx-width: 80px;
  -fx-height: 30px;
  -fx-font-size: 16px;
  -fx-font-family: "Century Gothic";
  -fx-text-fill: #b06d6d;
}

.button:hover {
   -fx-background-color: #823030;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #4d0000;
}

.button:disabled {
  -fx-background-color: #8c8c8c;
  -fx-text-fill: #cccccc;
}
