.background {
    -fx-background-color: #660000;
}

.pane {
    //-fx-background-color: #330000 #0d0d0d;
    -fx-background-color: #1a0000;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width:1;
    -fx-border-color: #1a0000;
}

.label {
    -fx-font-size: 18pt;
    -fx-font-family: "Century Gothic";
    //-fx-text-fill: #b06d6d;
    -fx-text-fill: #d9d9d9;
    -fx-text-align: center;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Century Gothic";
}

.button {
  -fx-display: inline-block;
  -fx-border-radius: 4px;
  -fx-background-color: #660000;
  //-fx-border: none;
  -fx-border: 1px;
  -fx-border-color: white;
  -fx-color: #FFFFFF;
  -fx-text-align: center;
  -fx-width: 80px;
  -fx-height: 30px;
  -fx-font-size: 16px;
  -fx-font-family: "Century Gothic";
  -fx-text-fill: #b06d6d;
}

.button:hover {
   -fx-background-color: #823030;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #4d0000;
}


